header.main-header .header-container {
    margin: 0 auto;
    padding: 60px 0px;
    background-color: rgba(8, 134, 196, 0.96);
    font-family: "PTSansCaptionBold";
    background-image: url(../image/crest.png);
    background-repeat: no-repeat;
    background-position: 75px 82px;
}

header.main-header .text {
    padding-left: 190px;
    text-shadow: 0 -2px 3px rgba(0, 3, 1, 0.64);
    color: #fff;
}

.show-title{
    text-align: center;
}

.name-profile{
    text-transform: uppercase;
}

.title-end{
    text-align: center;
}

.mini-tite{
    text-align: center;
}

.title-index{
    text-align: center;
    margin-bottom: 40px;
}

.link-style a{
    font-size: 30px;
}

.link-style{
    margin-top: 40px;
}

.new_footer {
    margin-top: 40px;
    width: 100%;
    height: 80px;
    background: #0075aa;
}

.footer_logo {
    text-align: center;
    padding-top: 1%;
}

.footer_logo_img {
    margin: auto;
}

.navbar-default {
    background-color: #0075aa;
    border-color: #e7e7e7;
}

.navbar-default .navbar-brand{
    color: #ffffff;
}

.navbar-default .navbar-brand:hover {
    color: #e7e7e7;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #e7e7e7;
}